<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<div>1. У объектов типа Соответствие отсутствует метод СодержитКлюч()<br>
Проверку нужно осуществлять с помощью метода Получить()<br>
Пример корректной проверки наличия ключа в соответствии:<br></div>
<i>
<div style="margin: 0 0 0 40px;">
ПроверяемоеСоответствие = новый Соответствие();<br>
...; </div>
<div style="margin: 0 0 0 40px;"> Если ПроверяемоеСоответствие.Получить(Ключ)&lt;&gt;Неопределено Тогда<br><i>
<div style="margin: 0px 0px 0px 40px;">...; </div></i>КонецЕсли;<br><br></div></i>
<div style="font-style: italic; margin: 0px 0px 0px 40px;"><br></div>
<div>2. Удаление из таблицы значений:</div>
<div>Удалять элементы нужно "с конца". Но в 1С 8.3. отсутствует возможность организовать обратный цикл (от больших элементов к меньшим).<br>Поэтому нужно получать элементы по выражению ПервоначальноеКоличество - Итератор.<br>Пример кода с корректным удалением из таблицы значений:<br></div>
<i>
<div style="font-style: italic; margin: 0px 0px 0px 40px;">ПервоначальноеКоличествоЭлементов = ТаблицаЗначений.Количество();<br>...; </div>
<div style="margin: 0px 0px 0px 40px;">Для Итератор=1 по ПервоначальноеКоличествоЭлементов  Цикл<br><div style="font-style: italic; margin: 0px 0px 0px 40px;">УдаляемыйЭлемент =Список[ПервоначальноеКоличествоЭлементов - Итератор];</div>
<div style="margin: 0px 0px 0px 40px;">Список.Удалить(УдаляемыйЭлемент);</div>
КонецЦикла<br></div>
</i>

<div>
<br></div>

</body></html>